In [1]:
import pandas as pd

In [2]:
occdata=pd.read_csv('occupation.csv')

In [4]:
occdata.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [6]:
occbyocc=occdata.groupby(['occupation']).mean(['age'])

In [7]:
print(occbyocc)

                  user_id        age
occupation
administrator  430.949367  38.746835
artist         451.892857  31.392857
doctor         533.714286  43.571429
educator       466.905263  42.010526
engineer       456.328358  36.388060
entertainment  398.000000  29.222222
executive      422.312500  38.718750
healthcare     501.437500  41.562500
homemaker      443.000000  32.571429
lawyer         359.083333  36.750000
librarian      486.588235  40.000000
marketing      437.807692  37.615385
none           368.666667  26.555556
other          542.733333  34.523810
programmer     435.530303  33.121212
retired        515.714286  63.071429
salesman       494.916667  35.666667
scientist      465.129032  35.548387
student        484.954082  22.081633
technician     497.629630  33.148148
writer         495.711111  36.311111

In [3]:
occgen=occdata.groupby(['occupation','gender']).count()

In [16]:
print(occgen)

                      user_id  age  zip_code
occupation    gender
administrator F            36   36        36
              M            43   43        43
artist        F            13   13        13
              M            15   15        15
doctor        M             7    7         7
educator      F            26   26        26
              M            69   69        69
engineer      F             2    2         2
              M            65   65        65
entertainment F             2    2         2
              M            16   16        16
executive     F             3    3         3
              M            29   29        29
healthcare    F            11   11        11
              M             5    5         5
homemaker     F             6    6         6
              M             1    1         1
lawyer        F             2    2         2
              M            10   10        10
librarian     F            29   29        29
              M            22   22        22
marketing     F            10   10        10
              M            16   16        16
none          F             4    4         4
              M             5    5         5
other         F            36   36        36
              M            69   69        69
programmer    F             6    6         6
              M            60   60        60
retired       F             1    1         1
              M            13   13        13
salesman      F             3    3         3
              M             9    9         9
scientist     F             3    3         3
              M            28   28        28
student       F            60   60        60
              M           136  136       136
technician    F             1    1         1
              M            26   26        26
writer        F            19   19        19
              M            26   26        26

In [20]:
occgena=occdata.groupby(['occupation','gender']).min('age')
print(occgena)

                      user_id  age
occupation    gender
administrator F            34   22
              M             7   21
artist        F            23   19
              M            31   20
doctor        M           138   28
educator      F            15   23
              M            13   25
engineer      F           786   23
              M            25   22
entertainment F           721   24
              M            16   15
executive     F            98   39
              M             6   22
healthcare    F           170   22
              M            60   28
homemaker     F            20   20
              M           898   23
lawyer        F           126   28
              M            10   21
librarian     F            27   26
              M            19   23
marketing     F            46   24
              M            47   24
none          F           256   26
              M            57   11
other         F             2   18
              M            83   13
programmer    F           292   26
              M            17   20
retired       F           860   70
              M           106   51
salesman      F           457   18
              M           112   21
scientist     F           175   26
              M            14   23
student       F            32   13
              M             9    7
technician    F           938   38
              M             1   21
writer        F           122   18
              M             3   21

In [21]:
occgena1=occdata.groupby(['occupation','gender']).max('age')
print(occgena1)

                      user_id  age
occupation    gender
administrator F           922   62
              M           940   70
artist        F           920   48
              M           865   45
doctor        M           935   64
educator      F           909   51
              M           937   63
engineer      F           827   36
              M           934   70
entertainment F           839   38
              M           926   50
executive     F           835   49
              M           901   69
healthcare    F           807   53
              M           910   62
homemaker     F           722   50
              M           898   23
lawyer        F           444   51
              M           846   53
librarian     F           942   59
              M           906   69
marketing     F           856   50
              M           881   55
none          F           756   55
              M           628   33
other         F           914   55
              M           936   64
programmer    F           698   38
              M           927   63
retired       F           860   70
              M           900   73
salesman      F           925   33
              M           808   66
scientist     F           930   31
              M           929   55
student       F           939   38
              M           943   42
technician    F           938   38
              M           889   55
writer        F           911   56
              M           896   60

In [22]:
occgena2=occdata.groupby(['occupation','gender']).mean('age')
print(occgena2)

                         user_id        age
occupation    gender
administrator F       443.944444  40.638889
              M       420.069767  37.162791
artist        F       432.153846  30.307692
              M       469.000000  32.333333
doctor        M       533.714286  43.571429
educator      F       454.730769  39.115385
              M       471.492754  43.101449
engineer      F       806.500000  29.500000
              M       445.553846  36.600000
entertainment F       780.000000  31.000000
              M       350.250000  29.000000
executive     F       373.000000  44.000000
              M       427.413793  38.172414
healthcare    F       568.454545  39.818182
              M       354.000000  45.400000
homemaker     F       367.166667  34.166667
              M       898.000000  23.000000
lawyer        F       285.000000  39.500000
              M       373.900000  36.200000
librarian     F       449.137931  40.000000
              M       535.954545  40.000000
marketing     F       443.300000  37.200000
              M       434.375000  37.875000
none          F       521.750000  36.500000
              M       246.200000  18.600000
other         F       474.666667  35.472222
              M       578.246377  34.028986
programmer    F       411.166667  32.166667
              M       437.966667  33.216667
retired       F       860.000000  70.000000
              M       489.230769  62.538462
salesman      F       637.666667  27.000000
              M       447.333333  38.555556
scientist     F       611.666667  28.333333
              M       449.428571  36.321429
student       F       497.533333  20.750000
              M       479.404412  22.669118
technician    F       938.000000  38.000000
              M       480.692308  32.961538
writer        F       536.052632  37.631579
              M       466.230769  35.346154

In [41]:
occdata['newocc']=occdata['occupation']
for i in range(len(occdata)):
    #print(occdata['occupation'][i])
    occdata['newocc'][i]=occdata['occupation'][i].capitalize()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [28]:
print(len(occdata))

943

In [31]:
print(occdata['age'][2])

23

In [42]:
print(occdata.head())

   user_id  age gender  occupation zip_code      newocc
0        1   24      M  technician    85711  Technician
1        2   53      F       other    94043       Other
2        3   23      M      writer    32067      Writer
3        4   24      M  technician    43537  Technician
4        5   33      F       other    15213       Other

In [43]:
occgenct=occdata.groupby(['occupation']).count()
print(occgenct)

               user_id  age  gender  zip_code  newocc
occupation
administrator       79   79      79        79      79
artist              28   28      28        28      28
doctor               7    7       7         7       7
educator            95   95      95        95      95
engineer            67   67      67        67      67
entertainment       18   18      18        18      18
executive           32   32      32        32      32
healthcare          16   16      16        16      16
homemaker            7    7       7         7       7
lawyer              12   12      12        12      12
librarian           51   51      51        51      51
marketing           26   26      26        26      26
none                 9    9       9         9       9
other              105  105     105       105     105
programmer          66   66      66        66      66
retired             14   14      14        14      14
salesman            12   12      12        12      12
scientist           31   31      31        31      31
student            196  196     196       196     196
technician          27   27      27        27      27
writer              45   45      45        45      45

In [44]:
occ_ct=len(occgenct)
print(occ_ct)

21

In [45]:
occgen_ct=len(occgen)
print(occgen_ct)

41

In [ ]:
#for i in range(occ_ct):
 #   male_ct=

In [51]:
a=occdata[(occdata.occupation=='doctor')]
print(a)

     user_id  age gender occupation zip_code  newocc
137      138   46      M     doctor    53211  Doctor
250      251   28      M     doctor    85032  Doctor
298      299   29      M     doctor    63108  Doctor
426      427   51      M     doctor    85258  Doctor
840      841   45      M     doctor    47401  Doctor
844      845   64      M     doctor    97405  Doctor
934      935   42      M     doctor    66221  Doctor

In [52]:
print(occgen.get_group('doctor'))

AttributeError: 'DataFrame' object has no attribute 'get_group'

In [59]:
print(occgen[(occgen.age>30)])

                      user_id  age  zip_code
occupation    gender
administrator F            36   36        36
              M            43   43        43
educator      M            69   69        69
engineer      M            65   65        65
other         F            36   36        36
              M            69   69        69
programmer    M            60   60        60
student       F            60   60        60
              M           136  136       136

In [61]:
print(occgen.get_group('doctor','M'))

AttributeError: 'DataFrame' object has no attribute 'get_group'

In [63]:
occflat=occgen.values.flatten()

In [64]:
print(occflat)

[ 36  36  36  43  43  43  13  13  13  15  15  15   7   7   7  26  26  26
  69  69  69   2   2   2  65  65  65   2   2   2  16  16  16   3   3   3
  29  29  29  11  11  11   5   5   5   6   6   6   1   1   1   2   2   2
  10  10  10  29  29  29  22  22  22  10  10  10  16  16  16   4   4   4
   5   5   5  36  36  36  69  69  69   6   6   6  60  60  60   1   1   1
  13  13  13   3   3   3   9   9   9   3   3   3  28  28  28  60  60  60
 136 136 136   1   1   1  26  26  26  19  19  19  26  26  26]

In [21]:
occgenunstack=occgen.unstack()

In [22]:
print(occgenunstack)

              user_id          age        zip_code
gender              F      M     F      M        F      M
occupation
administrator    36.0   43.0  36.0   43.0     36.0   43.0
artist           13.0   15.0  13.0   15.0     13.0   15.0
doctor            NaN    7.0   NaN    7.0      NaN    7.0
educator         26.0   69.0  26.0   69.0     26.0   69.0
engineer          2.0   65.0   2.0   65.0      2.0   65.0
entertainment     2.0   16.0   2.0   16.0      2.0   16.0
executive         3.0   29.0   3.0   29.0      3.0   29.0
healthcare       11.0    5.0  11.0    5.0     11.0    5.0
homemaker         6.0    1.0   6.0    1.0      6.0    1.0
lawyer            2.0   10.0   2.0   10.0      2.0   10.0
librarian        29.0   22.0  29.0   22.0     29.0   22.0
marketing        10.0   16.0  10.0   16.0     10.0   16.0
none              4.0    5.0   4.0    5.0      4.0    5.0
other            36.0   69.0  36.0   69.0     36.0   69.0
programmer        6.0   60.0   6.0   60.0      6.0   60.0
retired           1.0   13.0   1.0   13.0      1.0   13.0
salesman          3.0    9.0   3.0    9.0      3.0    9.0
scientist         3.0   28.0   3.0   28.0      3.0   28.0
student          60.0  136.0  60.0  136.0     60.0  136.0
technician        1.0   26.0   1.0   26.0      1.0   26.0
writer           19.0   26.0  19.0   26.0     19.0   26.0

In [77]:
occgenunstack=occgen.unstack().fillna(0)

In [24]:
print(occgenunstack.iloc[2,3])

7.0

In [78]:
print(occgenunstack)

              user_id          age        zip_code
gender              F      M     F      M        F      M
occupation
administrator    36.0   43.0  36.0   43.0     36.0   43.0
artist           13.0   15.0  13.0   15.0     13.0   15.0
doctor            0.0    7.0   0.0    7.0      0.0    7.0
educator         26.0   69.0  26.0   69.0     26.0   69.0
engineer          2.0   65.0   2.0   65.0      2.0   65.0
entertainment     2.0   16.0   2.0   16.0      2.0   16.0
executive         3.0   29.0   3.0   29.0      3.0   29.0
healthcare       11.0    5.0  11.0    5.0     11.0    5.0
homemaker         6.0    1.0   6.0    1.0      6.0    1.0
lawyer            2.0   10.0   2.0   10.0      2.0   10.0
librarian        29.0   22.0  29.0   22.0     29.0   22.0
marketing        10.0   16.0  10.0   16.0     10.0   16.0
none              4.0    5.0   4.0    5.0      4.0    5.0
other            36.0   69.0  36.0   69.0     36.0   69.0
programmer        6.0   60.0   6.0   60.0      6.0   60.0
retired           1.0   13.0   1.0   13.0      1.0   13.0
salesman          3.0    9.0   3.0    9.0      3.0    9.0
scientist         3.0   28.0   3.0   28.0      3.0   28.0
student          60.0  136.0  60.0  136.0     60.0  136.0
technician        1.0   26.0   1.0   26.0      1.0   26.0
writer           19.0   26.0  19.0   26.0     19.0   26.0

In [82]:
print(occgenunstack.user_id)

gender            F      M
occupation
administrator  36.0   43.0
artist         13.0   15.0
doctor          0.0    7.0
educator       26.0   69.0
engineer        2.0   65.0
entertainment   2.0   16.0
executive       3.0   29.0
healthcare     11.0    5.0
homemaker       6.0    1.0
lawyer          2.0   10.0
librarian      29.0   22.0
marketing      10.0   16.0
none            4.0    5.0
other          36.0   69.0
programmer      6.0   60.0
retired         1.0   13.0
salesman        3.0    9.0
scientist       3.0   28.0
student        60.0  136.0
technician      1.0   26.0
writer         19.0   26.0

In [9]:
print(occgen.iat[2,2])

13

In [5]:
print(occgen.head())

                      user_id  age  zip_code
occupation    gender
administrator F            36   36        36
              M            43   43        43
artist        F            13   13        13
              M            15   15        15
doctor        M             7    7         7

In [10]:
print(occgen.keys())

Index(['user_id', 'age', 'zip_code'], dtype='object')

In [20]:
list(occgen)[1]

'age'

In [26]:
#finding male ratio by occupation
def numericgen(x):
    if x=='M':
        return 1
    else:
        return 0
    
occdata['numgender']=occdata['gender'].apply(numericgen)

In [27]:
print(occdata.head())

   user_id  age gender  occupation zip_code  numgender
0        1   24      M  technician    85711          1
1        2   53      F       other    94043          0
2        3   23      M      writer    32067          1
3        4   24      M  technician    43537          1
4        5   33      F       other    15213          0

In [28]:
maleratio=occdata.groupby(['occupation']).numgender.sum()/occdata.occupation.value_counts()

In [29]:
print(maleratio)

administrator    0.544304
artist           0.535714
doctor           1.000000
educator         0.726316
engineer         0.970149
entertainment    0.888889
executive        0.906250
healthcare       0.312500
homemaker        0.142857
lawyer           0.833333
librarian        0.431373
marketing        0.615385
none             0.555556
other            0.657143
programmer       0.909091
retired          0.928571
salesman         0.750000
scientist        0.903226
student          0.693878
technician       0.962963
writer           0.577778
dtype: float64

In [3]:
#find % of women and men for each occupation

#gender, occup count
genocct=occdata.groupby(['occupation','gender']).agg({'gender':'count'})

In [4]:
print(genocct.head())

                      gender
occupation    gender
administrator F           36
              M           43
artist        F           13
              M           15
doctor        M            7

In [13]:
genocct1=occdata.groupby(['gender','occupation']).agg({'gender':'count'})
print(genocct1)
genct=occdata.groupby('gender').agg('count')
genct

                      gender
gender occupation
F      administrator      36
       artist             13
       educator           26
       engineer            2
       entertainment       2
       executive           3
       healthcare         11
       homemaker           6
       lawyer              2
       librarian          29
       marketing          10
       none                4
       other              36
       programmer          6
       retired             1
       salesman            3
       scientist           3
       student            60
       technician          1
       writer             19
M      administrator      43
       artist             15
       doctor              7
       educator           69
       engineer           65
       entertainment      16
       executive          29
       healthcare          5
       homemaker           1
       lawyer             10
       librarian          22
       marketing          16
       none                5
       other              69
       programmer         60
       retired            13
       salesman            9
       scientist          28
       student           136
       technician         26
       writer             26

        user_id  age  occupation  zip_code
gender
F           273  273         273       273
M           670  670         670       670

In [18]:
perg=genocct1.div(genct)
perg

                      age  gender  occupation  user_id  zip_code
gender occupation
F      administrator  NaN     NaN         NaN      NaN       NaN
       artist         NaN     NaN         NaN      NaN       NaN
       educator       NaN     NaN         NaN      NaN       NaN
       engineer       NaN     NaN         NaN      NaN       NaN
       entertainment  NaN     NaN         NaN      NaN       NaN
       executive      NaN     NaN         NaN      NaN       NaN
       healthcare     NaN     NaN         NaN      NaN       NaN
       homemaker      NaN     NaN         NaN      NaN       NaN
       lawyer         NaN     NaN         NaN      NaN       NaN
       librarian      NaN     NaN         NaN      NaN       NaN
       marketing      NaN     NaN         NaN      NaN       NaN
       none           NaN     NaN         NaN      NaN       NaN
       other          NaN     NaN         NaN      NaN       NaN
       programmer     NaN     NaN         NaN      NaN       NaN
       retired        NaN     NaN         NaN      NaN       NaN
       salesman       NaN     NaN         NaN      NaN       NaN
       scientist      NaN     NaN         NaN      NaN       NaN
       student        NaN     NaN         NaN      NaN       NaN
       technician     NaN     NaN         NaN      NaN       NaN
       writer         NaN     NaN         NaN      NaN       NaN
M      administrator  NaN     NaN         NaN      NaN       NaN
       artist         NaN     NaN         NaN      NaN       NaN
       doctor         NaN     NaN         NaN      NaN       NaN
       educator       NaN     NaN         NaN      NaN       NaN
       engineer       NaN     NaN         NaN      NaN       NaN
       entertainment  NaN     NaN         NaN      NaN       NaN
       executive      NaN     NaN         NaN      NaN       NaN
       healthcare     NaN     NaN         NaN      NaN       NaN
       homemaker      NaN     NaN         NaN      NaN       NaN
       lawyer         NaN     NaN         NaN      NaN       NaN
       librarian      NaN     NaN         NaN      NaN       NaN
       marketing      NaN     NaN         NaN      NaN       NaN
       none           NaN     NaN         NaN      NaN       NaN
       other          NaN     NaN         NaN      NaN       NaN
       programmer     NaN     NaN         NaN      NaN       NaN
       retired        NaN     NaN         NaN      NaN       NaN
       salesman       NaN     NaN         NaN      NaN       NaN
       scientist      NaN     NaN         NaN      NaN       NaN
       student        NaN     NaN         NaN      NaN       NaN
       technician     NaN     NaN         NaN      NaN       NaN
       writer         NaN     NaN         NaN      NaN       NaN

In [32]:
#occp count
occt=occdata.groupby(['occupation']).agg('count')

In [33]:
print(occt.head())

               user_id  age  gender  zip_code  numgender
occupation
administrator       79   79      79        79         79
artist              28   28      28        28         28
doctor               7    7       7         7          7
educator            95   95      95        95         95
engineer            67   67      67        67         67

In [34]:
genperc=genocct.div(occt,level='occupation')*100

In [35]:
print(genperc)

                      age      gender  numgender  user_id  zip_code
occupation    gender
administrator F       NaN   45.569620        NaN      NaN       NaN
              M       NaN   54.430380        NaN      NaN       NaN
artist        F       NaN   46.428571        NaN      NaN       NaN
              M       NaN   53.571429        NaN      NaN       NaN
doctor        M       NaN  100.000000        NaN      NaN       NaN
educator      F       NaN   27.368421        NaN      NaN       NaN
              M       NaN   72.631579        NaN      NaN       NaN
engineer      F       NaN    2.985075        NaN      NaN       NaN
              M       NaN   97.014925        NaN      NaN       NaN
entertainment F       NaN   11.111111        NaN      NaN       NaN
              M       NaN   88.888889        NaN      NaN       NaN
executive     F       NaN    9.375000        NaN      NaN       NaN
              M       NaN   90.625000        NaN      NaN       NaN
healthcare    F       NaN   68.750000        NaN      NaN       NaN
              M       NaN   31.250000        NaN      NaN       NaN
homemaker     F       NaN   85.714286        NaN      NaN       NaN
              M       NaN   14.285714        NaN      NaN       NaN
lawyer        F       NaN   16.666667        NaN      NaN       NaN
              M       NaN   83.333333        NaN      NaN       NaN
librarian     F       NaN   56.862745        NaN      NaN       NaN
              M       NaN   43.137255        NaN      NaN       NaN
marketing     F       NaN   38.461538        NaN      NaN       NaN
              M       NaN   61.538462        NaN      NaN       NaN
none          F       NaN   44.444444        NaN      NaN       NaN
              M       NaN   55.555556        NaN      NaN       NaN
other         F       NaN   34.285714        NaN      NaN       NaN
              M       NaN   65.714286        NaN      NaN       NaN
programmer    F       NaN    9.090909        NaN      NaN       NaN
              M       NaN   90.909091        NaN      NaN       NaN
retired       F       NaN    7.142857        NaN      NaN       NaN
              M       NaN   92.857143        NaN      NaN       NaN
salesman      F       NaN   25.000000        NaN      NaN       NaN
              M       NaN   75.000000        NaN      NaN       NaN
scientist     F       NaN    9.677419        NaN      NaN       NaN
              M       NaN   90.322581        NaN      NaN       NaN
student       F       NaN   30.612245        NaN      NaN       NaN
              M       NaN   69.387755        NaN      NaN       NaN
technician    F       NaN    3.703704        NaN      NaN       NaN
              M       NaN   96.296296        NaN      NaN       NaN
writer        F       NaN   42.222222        NaN      NaN       NaN
              M       NaN   57.777778        NaN      NaN       NaN

In [41]:
print(genperc.loc[:,'gender'])

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
Name: gender, dtype: float64