In [4]:
import pandas as pd

In [5]:
data=pd.read_csv("chipotle.csv")

In [6]:
print(data.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price  Unnamed: 5
0                                                NaN        2.39         NaN
1                                       [Clementine]        3.39         NaN
2                                            [Apple]        3.39         NaN
3                                                NaN        2.39         NaN
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98         NaN

In [7]:
print(data.tail())

      order_id  quantity           item_name  \
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description  item_price  \
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

      Unnamed: 5
4617         NaN
4618         NaN
4619         NaN
4620         NaN
4621         NaN

In [8]:
data.quantity.astype('str').astype('int')
data['revenue']=data['quantity']*data['item_price']

In [9]:
print(data.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price  Unnamed: 5  \
0                                                NaN        2.39         NaN
1                                       [Clementine]        3.39         NaN
2                                            [Apple]        3.39         NaN
3                                                NaN        2.39         NaN
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98         NaN

   revenue
0     2.39
1     3.39
2     3.39
3     2.39
4    33.96

In [10]:
byorder=data.groupby(['order_id']).sum(['revenue'])

In [3]:
print(pd.__version__)

1.1.3

In [11]:
print(byorder.head())

          quantity  item_price  Unnamed: 5  revenue
order_id
1                4       11.56         0.0    11.56
2                2       16.98         0.0    33.96
3                2       12.67         0.0    12.67
4                2       21.00         0.0    21.00
5                2       13.70         0.0    13.70

In [14]:
print(byorder.mean()['revenue'])

21.394231188658654

In [15]:
byordername=data.groupby(['order_id','item_name']).sum(['revenue'])

In [16]:
print(byordername.head())

                                                quantity  item_price  \
order_id item_name
1        Chips and Fresh Tomato Salsa                  1        2.39
         Chips and Tomatillo-Green Chili Salsa         1        2.39
         Izze                                          1        3.39
         Nantucket Nectar                              1        3.39
2        Chicken Bowl                                  2       16.98

                                                Unnamed: 5  revenue
order_id item_name
1        Chips and Fresh Tomato Salsa                  0.0     2.39
         Chips and Tomatillo-Green Chili Salsa         0.0     2.39
         Izze                                          0.0     3.39
         Nantucket Nectar                              0.0     3.39
2        Chicken Bowl                                  0.0    33.96

In [18]:
print(byordername.mean()['revenue'])

9.141896551724148

In [22]:
print(len(byordername['quantity']))

4292

In [23]:
print(len(byorder['quantity']))

1834

In [24]:
print(byordername.sort_values(['revenue'],ascending=False).head(5))

                                       quantity  item_price  Unnamed: 5  \
order_id item_name
1443     Chips and Fresh Tomato Salsa        15       44.25         0.0
1454     Chicken Burrito                      6       52.50         0.0
1660     Bottled Water                       10       15.00         0.0
511      Chicken Burrito                      4       35.00         0.0
1443     Chicken Burrito                      4       35.00         0.0

                                       revenue
order_id item_name
1443     Chips and Fresh Tomato Salsa   663.75
1454     Chicken Burrito                157.50
1660     Bottled Water                  150.00
511      Chicken Burrito                140.00
1443     Chicken Burrito                140.00

In [26]:
print(byordername.sort_values(['revenue'],ascending=False).tail(1))

                      quantity  item_price  Unnamed: 5  revenue
order_id item_name
790      Canned Soda         1        1.09         0.0     1.09

In [30]:
orderle50=data[(data.revenue<50)]

In [31]:
print(orderle50.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price  Unnamed: 5  \
0                                                NaN        2.39         NaN
1                                       [Clementine]        3.39         NaN
2                                            [Apple]        3.39         NaN
3                                                NaN        2.39         NaN
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98         NaN

   revenue
0     2.39
1     3.39
2     3.39
3     2.39
4    33.96

In [32]:
print(len(orderle50.quantity))

4605

In [34]:
print(data.describe())

          order_id     quantity   item_price  Unnamed: 5      revenue
count  4622.000000  4622.000000  4622.000000         0.0  4622.000000
mean    927.254868     1.075725     7.464336         NaN     8.489186
std     528.890796     0.410186     4.245557         NaN    12.632060
min       1.000000     1.000000     1.090000         NaN     1.090000
25%     477.250000     1.000000     3.390000         NaN     3.990000
50%     926.000000     1.000000     8.750000         NaN     8.750000
75%    1393.000000     1.000000     9.250000         NaN    10.980000
max    1834.000000    15.000000    44.250000         NaN   663.750000

In [35]:
print(orderle50.describe())

          order_id     quantity   item_price  Unnamed: 5      revenue
count  4605.000000  4605.000000  4605.000000         0.0  4605.000000
mean    926.362866     1.061889     7.392971         NaN     8.042786
std     528.738972     0.278603     4.053101         NaN     6.146293
min       1.000000     1.000000     1.090000         NaN     1.090000
25%     476.000000     1.000000     3.390000         NaN     3.990000
50%     926.000000     1.000000     8.750000         NaN     8.750000
75%    1391.000000     1.000000     9.250000         NaN    10.980000
max    1834.000000     5.000000    23.780000         NaN    47.560000

In [36]:
orderge50=data[(data.revenue>=50)]

In [37]:
print(orderge50.describe())

          order_id   quantity  item_price  Unnamed: 5     revenue
count    17.000000  17.000000   17.000000         0.0   17.000000
mean   1168.882353   4.823529   26.795882         NaN  129.411176
std     530.237197   3.358484    8.955029         NaN  140.077933
min     178.000000   3.000000   10.500000         NaN   66.600000
25%     616.000000   3.000000   22.200000         NaN   78.750000
50%    1443.000000   3.000000   26.250000         NaN   83.250000
75%    1454.000000   4.000000   33.750000         NaN  108.160000
max    1786.000000  15.000000   44.250000         NaN  663.750000