In [18]:
#tuple
cars=("Toyota","Honda","Toyota","Honda","Toyota","Nissan")

In [19]:
print(len(cars))

6

In [20]:
a=len(cars)
uniquemodel=[] #list not a tuple
uniquemodelct=[]
 
for i in range(a):
    exists=0
    b=len(uniquemodel)
    for j in range(b):
        if cars[i]==uniquemodel[j]:
            uniquemodelct[j]=uniquemodelct[j]+1
            exists=1
    else:
        if exists==0: #the for loop is fully executed before coming to this else. If exists=0 then, that model isn't in the unique model
            uniquemodel.append(cars[i])
            uniquemodelct.append(1)
            

print(uniquemodel)
print(uniquemodelct)

['Toyota', 'Honda', 'Nissan']
[3, 2, 1]

In [24]:
nset1={1,2,3}
nset2={2,1,5,7,8,9}

In [25]:
#what is in 1 not in set 2
print(nset1-nset2)

{3}

In [26]:
#what is in set 2 not in set 1
print(nset2-nset1)

{8, 9, 5, 7}

In [27]:
#what is in both set 1 and 2
print(nset1 - (nset1-nset2))

{1, 2}

In [29]:
wset1={"adam","eve"}
wset2={"ray","adam","mark"}
print(wset1-wset2) #in set 1 not in set2
print(wset2-wset1) #in set2 not in set1
print(wset1-(wset1-wset2)) #in both sets

{'eve'}
{'ray', 'mark'}
{'adam'}