In [22]:
#txt file
filename="textfile.txt"
file=open(filename,"r")

In [23]:
file.seek(0)
#print line and words in line
for line in file:
    print(line)
    for word in line.split():
        print(word)

This is a file

This
is
a
file
This is a sentence

This
is
a
sentence
This is the last sentence

This
is
the
last
sentence
Add this sentence
Add
this
sentence

In [24]:
file.seek(0) #go to the beginning of file
a=file.readline()
print(a)
file.close()

This is a file

In [31]:
file=open(filename,"a") #open in append mode
file.writelines("\nAdd this sentence")
file.close()

In [32]:
file=open(filename,"r")
file.seek(0)
#print line and words in line
for line in file:
    print(line)
    for word in line.split():
        print(word)
file.close()

This is a file

This
is
a
file
This is a sentence

This
is
a
sentence
This is the last sentence

This
is
the
last
sentence
Add this sentence

Add
this
sentence


Add this sentence
Add
this
sentence

In [33]:
#csv file
#using pandas to load the file data to dataframe
import pandas as pd
df=pd.read_csv("studentcsv.csv")
print(df)

   Name  Subject  Score
0  Adam     Math     80
1   Eve  Science     90
2   Ada     Math     85
3   Eva  Science     95

In [34]:
print(df.Name)

0    Adam
1     Eve
2     Ada
3     Eva
Name: Name, dtype: object

In [35]:
print(df.Name[1])

Eve

In [36]:
rows=len(df.Name)
print(rows)

4

In [44]:
uniquesub=[]
for i in range(rows):
    for j in range(len(uniquesub)):
        if uniquesub[j]==df.Subject[i]:
            break
    else:
        uniquesub.append(df.Subject[i])
        
print(uniquesub)

['Math', 'Science']

In [45]:
for i in range(len(uniquesub)):
    maxscore=0
    stindex=rows+10 #initializing to a non row number
    for j in range(rows):
        if df.Subject[j]==uniquesub[i] and maxscore<df.Score[j]:
            maxscore=df.Score[j]
            stindex=j
    if stindex<rows: #means a max student is found
        print("For subject "+uniquesub[i]+" max score is "+str(maxscore)+" from student "+df.Name[stindex])
    else:
        print("Max score and student not found. Check if score exists in the file")

For subject Math max score is 85 from student Ada
For subject Science max score is 95 from student Eva

In [56]:
newdf={"Name":"NewStudent","Subject":"NewSubject","Score":100}
print(newdf)

{'Name': 'NewStudent', 'Subject': 'NewSubject', 'Score': 100}

In [58]:
df.append(newdf,ignore_index=True) #ignore_index=True is needed for adding a dictionary to pandas dataframe

         Name     Subject  Score
0        Adam        Math     80
1         Eve     Science     90
2         Ada        Math     85
3         Eva     Science     95
4  NewStudent  NewSubject    100